journalist_style_analysis_workflow.json
{"name": "Journalist Style Analyzer", "nodes": [{"parameters": {"filePath": "/mnt/data/Expressions-list-examples.json"}, "name": "Read Binary File", "type": "n8n-nodes-base.readBinaryFile", "typeVersion": 1, "position": [200, 300]}, {"parameters": {"setAllData": false, "options": {}}, "name": "Move Binary Data", "type": "n8n-nodes-base.moveBinaryData", "typeVersion": 1, "position": [400, 300]}, {"parameters": {"mode": "json"}, "name": "Parse JSON", "type": "n8n-nodes-base.jsonParse", "typeVersion": 1, "position": [600, 300]}, {"parameters": {"fieldToSplitOut": "items"}, "name": "Split Articles", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 1, "position": [800, 300]}, {"parameters": {"authentication": "predefinedCredentialType", "requestMethod": "POST", "url": "https://api.openai.com/v1/chat/completions", "jsonParameters": true, "options": {}, "bodyParametersJson": "={\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a writing style analyst. Analyze the following article and return a detailed, structured breakdown of the writing style in JSON format. Focus on tone, sentence length, vocabulary, narrative voice, pacing, syntax patterns, common rhetorical devices, and typical story structure.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{$json[\"content\"]}}\n    }\n  ]\n}", "headerParametersJson": "={\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer YOUR_OPENAI_API_KEY\"\n}"}, "name": "Analyze Style", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "position": [1000, 300], "credentials": [{"name": "openaiApi", "type": "openAiApi"}]}, {"parameters": {}, "name": "Merge Style Insights", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [1200, 300]}, {"parameters": {"functionCode": "return [\n  {\n    json: {\n      style_guide: {\n        overall_tone: \"Critical, informative, and politically aware\",\n        sentence_and_paragraph_guidelines: {\n          length: \"12\u201320 words per sentence, 2\u20133 sentence paragraphs\",\n          structure: \"Mix of compound and complex structures, variation to create rhythm\"\n        },\n        story_structure: [\n          \"1. Introduce the issue with a historical or emotional hook\",\n          \"2. Present a current example or case study\",\n          \"3. Analyze implications using quotes and background\",\n          \"4. End with reflection or future outlook\"\n        ],\n        signature_patterns: [\n          \"Frequent use of passive voice for neutrality\",\n          \"Regular inclusion of public sentiment or protest language\",\n          \"Dense informational blocks followed by shorter emotional lines\"\n        ],\n        tone_handling: \"Avoid sensationalism; stay fact-based but not emotionally cold\"\n      }\n    }\n  }\n];"}, "name": "Synthesize Final Guide", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1400, 300]}], "connections": {"Read Binary File": {"main": [[{"node": "Move Binary Data", "type": "main", "index": 0}]]}, "Move Binary Data": {"main": [[{"node": "Parse JSON", "type": "main", "index": 0}]]}, "Parse JSON": {"main": [[{"node": "Split Articles", "type": "main", "index": 0}]]}, "Split Articles": {"main": [[{"node": "Analyze Style", "type": "main", "index": 0}]]}, "Analyze Style": {"main": [[{"node": "Merge Style Insights", "type": "main", "index": 0}]]}, "Merge Style Insights": {"main": [[{"node": "Synthesize Final Guide", "type": "main", "index": 0}]]}}}